.box {
  height: 154px;
  background-color: gray;
  align-content: center;
}

.dayLight {
  background-color:yellow;
}

.button{

  background-color: burlywood;
  font-style: inherit;
  font-size-adjust: initial;
}
.button1{
  background-color: green;
}